*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar  */

.container-fluid{
    padding: 3% 15% 3%;
} 
.logo{
    width: 18rem;
    
}
.no-padding{
    padding:0;
}

/* Small Navbar */
#nav-small{
    padding: 0 15% 0;
    display: none;
    position:fixed;
    background-color: #fff;
    z-index:1;
}
.logo-small{
    width:9rem;
}

/* Test navbar */
.navigation-container{
margin:auto;
    
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.navi-item{
    margin-top:4%;
    display: inline-block;
    padding: 0 2%;
}
.navi-link{
    color:#808080;
}
.navi-link:hover{
    color:#505050;
    text-decoration: none;
    font-weight: bold;
}
.logo-container{
    padding:0;
}


/* Title section */
#title{
    background-color: #24519d;
    overflow: hidden;
    background-image: url("./images/bg-35.png");
   
}
.title-desc{
    color: #fff;
    font-size: 4rem;
    line-height: 1.5;
}
.hamburger{
    display: none;
}

/* Oferta */


.card-title{
    text-align:center;
}
.custom-card{
    color:#fff;
    /* background-color:#17366d; */
    background-color: #2b2a29;
    /* border-radius:3%; */
    min-height: 300px;
    
    
}
.card{
    border:none;
    margin: 3% 0 3%;
}



@media all and (max-width: 700px){
    
    /* nav {
        text-align: center;
    } */
    .logo{
        margin:auto;
    }
    .title-container , .navigation-container{
        padding: 3% 1% 3%;
        text-align: center;
    }
    .title-desc{
    font-size: 2.5rem;
    }
    .hamburger{
        display:block;
    }
    #title{
        background-position: center top;
    }
    /* Test navigation */
    .navigation{
        text-align: center;
    }
    .navi-list{
        margin-bottom: 0;
    }
   
    .logo-container{
        text-align: center;
        margin:auto;
    }
    /* Small navigation */
    .logo-small{
        width: 6rem;
    }
    
} 


