*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 3% 15% 3%;
}
.logo{
    width: 18rem;
}

/* Title section */
#title{
    background-color: #24519d;
    /* position: relative; */
    overflow: hidden;
    background-image: url("./images/bg-35.png");
   
}
.title-desc{
    color: #fff;
    font-size: 4rem;
    line-height: 1.5;
}
.hamburger{
    display: none;
}
/* }
.bgimg{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: auto;
    opacity: 0.35;
} */

@media all and (max-width: 900px){
    
    nav {
        text-align: center;
    }
    .title-container{
        padding: 3% 3% 3%;
        text-align: center;
    }
    .title-desc{
        
    font-size: 3rem;
    }
    .hamburger{
        display:block;
    }
} 


