@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3 {
    font-family: 'Anton', sans-serif;
}


/* Navbar  */

.container-fluid{
    padding: 3% 15% 3%;
} 
.logo{
    width: 18rem;
    
}
.no-padding{
    padding:0;
}

/* Small Navbar */
#nav-small{
    padding: 0 15% 0;
    display: none;
    position:fixed;
    background-color: #fff;
    z-index:1;
}
.logo-small{
    width:9rem;
}
.navbar{
    padding-left:0;
    padding-right: 0;
}

/* Test navbar */
.navigation-container{
margin:auto;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 12px 0 rgba(0, 0, 0, 0.19); 
    
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 0;
}
.navi-item{
    margin-top:4%;
    display: inline-block;
    padding: 0 2%;
}
.navigation .navi-item{
    font-size: 1.3rem;
}
.navi-link{
    color:#808080;
}
.last{
    padding-right: 0 !important;
}
.navi-link:hover{
    color:#2b2a29;
    text-decoration: none;
    font-weight: 400;
}
.logo-container{
    padding:0;
}


/* Title section */
#title{
    background-color: #24519d;
    overflow: hidden;
    background-image: url("./images/bg-35.png");
   
}
.title-desc{
    color: #fff;
    font-size: 4rem;
    line-height: 1.5;
    /* opacity: 0.9; */
}
.title-picture{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* o nas */

.about-desc{
    /* background-color: #2b2a29; */
    /* background-color: #17356a; */
    padding: 3% 2% 5% 0;
    /* color:#fff; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
}
.about-desc .soft{
   color: #909090;
}
/* .about-desc p{
    border:#24519d solid 2px;
    padding: 2%;
} */
.underline{
    margin-top: -1%;
    border-color: red;
    border-width: 2px;
    width: 30%;
}
.about-row{
    margin-left:0;
   
}
.about-services-container{
    padding: 3% 2% 3% 2%;
}
.about-services{
    color:#24519d;
    min-height: 50%;
}

/* Oferta */


.card-title{
    font-size: 3.2rem;
    margin-bottom: 10%;
}
.custom-card{
    color:#fff;
    /* background-color:#17366d; */
    background-color: #2b2a29;
    /* border-radius:3%; */
    min-height: 300px;
      
}
 /* jasny styl */ 
 .custom-card{
    background-color: #fff;
    color: #2b2a29;
    transition-duration: 0.5s;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
} 
.custom-card:hover{
     /* background-color:#222120;  */
    /* color: #fff;   */
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); */
     /* background-color: #24519d;  */
     /* background-color:  #db200b; */
}
.custom-card:hover .custom-btn{
    /* background-color: #0d2d99; */
    /* background-color: #24519d;  */
     border-color: #fff; 
     color:white; 
    /* border: none; */
    background-color: #db200b;
    
}
.card{
    text-align:center;
    border:none;
    margin: 3% 0 3%;
}
.custom-btn{
    margin-top: 8%;
    transition-duration: 0.5s;
   
}
.custom-btn{
    /* background-color: #db200b; */
    /* color: white; */
    /* border-color: #db200b;
    color: #db200b; */
    
}
.card-text{
    color: #909090;
}

/* Contact section */



/* Footer */
.footer{
    padding: 1.5% 0 1.5%;
    background-color: #24519d;
    color: #fff;
    text-align: center;
}


@media all and (max-width: 700px){
    
    /* nav {
        text-align: center;
    } */
    .logo{
        margin:auto;
    }
    .title-container , .navigation-container{
        padding: 3% 1% 3%;
        text-align: center;
    }
    .title-desc{
    font-size: 2.5rem;
    }
    #title{
        background-position: left center;
    }
    /* Test navigation */
    .navigation{
        text-align: center;
    }
    .navi-list{
        margin-bottom: 0;
    }
   
    .logo-container{
        text-align: center;
        margin:auto;
    }
    /* Small navigation */
    .logo-small{
        width: 6rem;
    }
    
} 


